<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>User-agent access denied</title>
    <style type="text/css">
        #message {
            border: 4px solid #d13239;
            background-color: lightyellow;
            padding: 0.5em;
            margin: 0.5em;
            width: 640px;
        }

        #details {
            font-family: monospace;
            white-space: pre;
            padding: 0.5em;
            margin: 0.5em;
            width: 640px;
        }
    </style>
</head>

<body>
    <div id="message">
        <h1>User-agent access denied</h1>

        <p>
            The configured policy prevents your request from being allowed at this time. Please contact your service provider if you feel this is incorrect.
        </p>

    </div>
    <div id="details">
<b>Timestamp </b> {{ timestamp }}
<b>Policy    </b> {{ priority }}

<b>User-Agent</b> {{ uap.user_agent }}
<b>OS        </b> {{ uap.os }}
<b>Device    </b> {{ uap.device }}
<b>Source IP </b> {{ client_ip }}
    </div>
</body>

</html>